<main class="main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column align-items-start">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100" id="navbarScroll">
        <ul class="navbar-nav flex-column w-100">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">ChatBot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new-chat">New Chat</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Profile Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/add-profile">Add Profile Details</a></li>
              <li><a class="dropdown-item" href="/edit-profile">Edit Profile Details</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat-history" tabindex="-1" aria-disabled="true">Chat History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="background"></div>
</main>
<router-outlet></router-outlet>
