.navbar {
    width: 200px !important;
    height: 580px !important;
}

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 585px;
    margin-left: 200px;
    margin-top: -580px;
    background-color: rgb(244, 244, 239);
}

img{
    height: 80px;
    width: 80px;
}
.img-thumbnail{
    border: none;
    width: 100px;
    height: 100px;
}


